= simple_form_for [@client, @loan] do |f|
	%fieldset{:style => "margin-bottom: 0; padding: 20px 0;"}
		%div
			= f.input :amount, :required => false
			= f.input :term, :required => false

	= f.submit "Сохранить", :style => "padding: 0;"
