- title t("monacum.loans.new.title")

= render "/clients/header"

.page_contents_wrapper.clear.no-padding
	.page_main_column.column
		.liner
			%span.back-to-client
				←
				= link_to "Вернуться к списку займов", @client
			%h1= t "monacum.loans.new.header"
        
			= render "form"