= simple_form_for [@loan, @payment] do |f|
	%fieldset{:style => "margin-bottom: 0; padding: 20px 0;"}
		%div
			= f.input :amount, :required => false, :hint => t("simple_form.hints.payment_amount")
			
	= f.submit "Сохранить"